# $HOME/.ssh/config
# @author touero
# @since 2025

Host *
# HostkeyAlgorithms +ssh-rsa
# PubkeyAcceptedKeyTypes +ssh-rsa

SetEnv TERM=xterm-256color

Host xxxx
    HostName xxx.xxx.xxx.xxx(or_domain)
    User xxxx
    Port 22
    ServerAliveInterval 30

