.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/tmux/plugins/*
tmux/plugins/*
.config/ttyper/language/*
.config/aerc/accounts.conf
.config/fcitx5/conf/cached_layouts
.config/neomutt/accounts/*
!.config/neomutt/accounts/account.example
