@define-color bg #282828;
@define-color bg_alt #665c54;
@define-color fg #ebdbb2;
@define-color fg_alt #a89984;

@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color yellow_alt #d79921;
@define-color blue #83a598;
@define-color blue_alt #458488;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #fe8019;


* {
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font Mono", monospace;;
    font-size: 1.2rem;
    background-color: @bg;
    padding: 0em 0.2em;
}

#workspaces button {
    background-color: @bg;
    color: @fg;
}

#workspaces button label {
    background-color: #504945;
    padding: 0em 0.5em;
}

#workspaces button.focused {
    color: @bg;
    background-color: @bg;
}

#workspaces button.focused label {
    background-color: @yellow_alt;
    padding: 0em 0.5em;
}

#mode {
    background-color: @bg;
    color: @red;
}

#bluetooth,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#custom-poweroff,
#custom-suspend,
#custom-weather,
#custom-email,
#custom-rss,
#mpris,
#mpd {
    background-color: @bg;
    color: @fg;
}

.modules-left > widget:first-child {
    margin-left: 4px;
}

.modules-right > widget:last-child {
    margin-right: 4px;
}

