@define-color bg #282828;
@define-color bg_alt #665c54;
@define-color fg #ebdbb2;
@define-color fg_alt #a89984;

@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color yellow_alt #d79921;
@define-color blue #83a598;
@define-color blue_alt #458488;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #fe8019;

* {
    font-family: "Fira Code Nerd Font";
    font-size: 2rem;
}

#workspaces button {
    padding: 0em 0.5em;
    background-color: @bg_alt;
    color: @fg_alt;
    margin: 4px;
}

#workspaces button.focused {
    background-color: @yellow;
    color: @bg;
}


#mode {
    background-color: #64727D;
    border-bottom: 3px solid #fbf1c7;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-poweroff,
#custom-suspend,
#custom-weather,
#mpd {
    padding: 0em 0.5em;
    background-color: @fg_alt;
    color: @bg;
    margin: 3px;
    border-radius: 7px;
}

.modules-left > widget:first-child {
    margin-left: 4px;
}

.modules-right > widget:last-child {
    margin-right: 4px;
}

