@define-color bg #282828;
@define-color bg_alt #665c54;
@define-color fg #ebdbb2;
@define-color fg_alt #a89984;

@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color blue_alt #458488;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #fe8019;

#window {
  border-radius: 0px;
  font-size: 2.5rem;
  background-color: @bg;
  margin: 5px;
}

#entry {
    color: @fg_alt;
    border-radius: 0px;
    margin-right: 20px;
}

#input {
  border-radius: 0px;
  color: @fg_alt;
  background-color: @bg;
  min-width: 800px;
  padding: 5px 15px;
}

#entry:selected {
  background-color: @fg_alt;
}

#entry:selected label {
  color: @bg_alt;
}

