format = """
$username$hostname\
$directory\
$git_branch\
$git_status \
$conda\
$python\
$character"""

[hostname]
ssh_only = false
format = '[@$hostname](#282828 bg:#689d6a)$ssh_symbol '
disabled = false
ssh_symbol=' '

[username]
style_user = '#282828 bg:#689d6a'
style_root = '#fb4934 bg:#689d6a'
format = '[$user]($style)'
disabled = false
show_always = true
aliases = { "corpuser034g" = "matchai" }

[directory]
truncation_length = 1
truncate_to_repo = true
style = '#b57614'

[character]
success_symbol = "[\\$](green)"
error_symbol = "[\\$](red)"
vimcmd_symbol = "[\\$](green)"
vimcmd_replace_one_symbol = "[\\$](purple)"
vimcmd_replace_symbol = "[\\$](purple)"
vimcmd_visual_symbol = "[\\$](yellow)"

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_status]
format = "[[( $conflicted$untracked$modified$staged$renamed$deleted$stashed) ](218)]($style)"
style = "#8f3f71"
conflicted = " "
untracked = " "
modified = " "
staged = " "
renamed = " "
deleted = "󰆳 "
stashed = "󰝪 "

[conda]
format = "[$environment]($style) "
style = "bright-black"

[python]
format = "[$virtualenv]($style) "
style = "bright-black"
